@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Comfortaa:wght@300&family=Dosis&family=Open+Sans:ital,wght@1,300&family=Oxygen:wght@700&family=Permanent+Marker&family=Poppins:wght@300&family=Raleway:wght@300&family=Righteous&family=Roboto+Slab&family=Ubuntu:wght@500&display=swap');

.headercom {
    position: fixed;
    right: 0px;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 0px;
    margin-bottom: 10px;
    color: white;
    font-family: Permanent Marker;
    z-index: 1000;
}