.reply-dialog {
    position: relative;
    top: 100px;
    /* height: 100%; */
    top: 56%;
    height: fit-content;
    width: fit-content;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: 1000;
    /* background-color: rgba(62, 62, 62, 1); */
    /* padding: 40px; */
    border-radius: 90px;
    /* backdrop-filter: blur(8px); */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* margin: 10px; */


}

.reply-dialog input {
    width: fit-content;
    height: 30px;
}

.reply-dialog textarea {
    resize: none;
    height: 100px;
    width: 150px;
    margin-top: 6px;
    margin-bottom: 6px;
}