/* .file-input {
    height: 50px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.file-input:hover {
    background: #eee;
    border-color: #111;
} */